body{
    margin: 0;
    padding:0;
}

.app{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: wheat;
    overflow: hidden;
}

.title_app{
    font-size:2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.app_form{
    display: flex;
    justify-content: center;
}

.app_form > form > input {
    display: flex;
    margin: 0 auto;
    margin-top: 1em;
    background-color: black;
    padding: 0.4em;
    color: wheat;
    font-size: 1.2em;
}



.list_todos{

}

.todo_row{
  color: whitesmoke;
  font-size: 1.75em;
  margin: 0.5em;
}

.todo_row > input {
  display: inline-flex;
}

.todo_row > p{
  display: inline;
  padding: 0.5em;
}

.todo_stats > div {
  display: flex;
  justify-content: center;
}

.todo_stats p{
  color: whitesmoke;
  font-size: 1.4em;
  margin: 0.2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
